h1{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

img{
    height: auto;
    max-width: 100%;
}

.tank{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.border{
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
