h1{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

img{
    height: auto;
    max-width: 100%;
}

.tank{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
